@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using System.Security.Claims;

@{
    var fotoClaim = User.Claims.FirstOrDefault(c => c.Type == "Foto");


    string fotoUrl = fotoClaim != null ? fotoClaim.Value : null;

    var userIdClaim = User.FindFirst(ClaimTypes.NameIdentifier);
    var userId = userIdClaim?.Value;
   

}

<ul class="navbar-nav">
    @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link text-light fw-bold">¡Hola @HttpContextAccessor.HttpContext.User.Identity.Name!</span>
           
        </li>
        <li class="nav-item">
            <!--
            <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index","Home")">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light fw-bold">Salir</button>
            </form>
            -->
            <!-- Avatar -->
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                   href="#"
                   id="navbarDropdownMenuAvatar"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    @if (!string.IsNullOrEmpty(fotoUrl))
                    {
                        <img src="/images/@fotoUrl"
                             class="rounded-circle"
                             height="50"
                             alt="Foto"
                             loading="lazy" />
                    }
                    else
                    {
                        <!-- Icono por defecto si no hay imagen -->
                        <i class="fas fa-user-circle icon-default "></i>
                    }
                </a>
                <style>
                    .icon-default {
                        font-size: 30px; /* Tamaño del ícono */
                        color: white; /* Color blanco */
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #333; /* Fondo de color gris oscuro */
                        border-radius: 50%; /* Forma de círculo */
                        width: 30px; /* Ancho */
                        height: 30px; /* Alto */
                    }
                </style>
                <ul class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        @{
                            var usuarioid = int.Parse(userId);
                        }


                        <form asp-action="Perfil" asp-route-id="@usuarioid" class="form-inline" asp-controller="Usuarios">

                            <button id="editarPerfil" type="submit" class="dropdown-item">Mi perfil</button>
                        </form>
                        
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Ajustes</a>
                    </li>
                    <li>
                        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index","Home")">
                            <button id="logout" type="submit" class="dropdown-item">Salir</button>
                        </form>
                    </li>
                </ul>
            </div>
          
        </li>
    }
    else
    {

        <li class="nav-item">
            <form asp-controller="Account" asp-action="Login" method="get">
                <button type="submit" class="btn btn-link px-3 me-2 text-light fw-bold" id="login">Login</button>
            </form>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Registro" method="get">
                <button type="submit" class="btn btn-light me-3 text-dark fw-bold">Empieza ya</button>
            </form>
        </li>
    }
</ul>
