@model MVCCoachBuster.Models.GrupoEjercicios

@{
    ViewData["Title"] = "Create";
}

<h4>@ViewData["Title"] Grupo Ejercicios</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puntuacion" class="control-label"></label>
                <input asp-for="Puntuacion" class="form-control" />
                <span asp-validation-for="Puntuacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLVideo" class="control-label"></label>
                <input asp-for="URLVideo" class="form-control" />
                <span asp-validation-for="URLVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrucciones" class="control-label"></label>
                <textarea asp-for="Instrucciones" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Instrucciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="Acciones/_Create" />
            </div>
        </div>
    </div>
</form>


