@model MVCCoachBuster.Models.GrupoEjercicios

@{
    ViewData["Title"] = "Editar: " + Model.Nombre;
}

<h4>@ViewData["Title"]</h4>

<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="URLVideo" class="control-label"></label>
                <input asp-for="URLVideo" class="form-control" />
                <span asp-validation-for="URLVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrucciones" class="control-label"></label>
                <input asp-for="Instrucciones" class="form-control" />
                <span asp-validation-for="Instrucciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="Acciones/_Edit" />
            </div>
        </div>
    </div>
</form>



