@model MVCCoachBuster.ViewModels.AgregarEditarPlanViewModel
@{
    ViewData["Title"] = "Estoy creando Plan";
}
<h4>@ViewData["Title"]</h4>

<hr />

<form asp-action="Create" enctype="multipart/form-data>
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plan.Nombre" class="control-label"></label>
                <input asp-for="Plan.Nombre" class="form-control" />
                <span asp-validation-for="Plan.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan.Descripcion" class="control-label"></label>
                <input asp-for="Plan.Descripcion" class="form-control" />
                <span asp-validation-for="Plan.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan.Precio" class="control-label"></label>
                <input asp-for="Plan.Precio" class="form-control" />
                <span asp-validation-for="Plan.Precio" class="text-danger"></span>
            </div>

            <!--Seleccionar entrenador-->
            <div class="form-group mt-3">
                <label asp-for="Plan.UsuarioId" class="control-label"></label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">
                        <i class="fa-solid fa-users"></i>
                    </label>
                    <select asp-for="Plan.UsuarioId" class="form-select" asp-items="Model.ListadoEntrenadores">
                        <option value="">---Seleccionar Entrenador---</option>
                    </select>
                </div>
                <span asp-validation-for="Plan.UsuarioId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <partial name="Acciones/_Create" />
                <button id="redireccionarBtn" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i>&nbsp;Siguiente
                </button>
            </div>

        </div>

    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
