@model MVCCoachBuster.ViewModels.AgregarEditarPlanViewModel
@{
    ViewData["Title"] = "Crear Plan";
}
<h4>@ViewData["Title"]</h4>

<h4>Plan</h4>
<hr />

<form asp-action="Create" enctype="multipart/form-data>
<div class="row">
    <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plan.Nombre" class="control-label"></label>
                <input asp-for="Plan.Nombre" class="form-control" />
                <span asp-validation-for="Plan.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan.Descripcion" class="control-label"></label>
                <input asp-for="Plan.Descripcion" class="form-control" />
                <span asp-validation-for="Plan.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan.Precio" class="control-label"></label>
                <input asp-for="Plan.Precio" class="form-control" />
                <span asp-validation-for="Plan.Precio" class="text-danger"></span>
            </div>

            <!--Seleccionar entrenador-->
           
            <div class="form-group mt-3">
                <label asp-for="Plan.UsuarioId" class="control-label"></label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">
                        <i class="fa-solid fa-users"></i>
                    </label>
                    <select asp-for="Plan.UsuarioId" class="form-select" asp-items="Model.ListadoEntrenadores">
                        <option value="">---Seleccionar Entrenador---</option>
                    </select>
                </div>
                <span asp-validation-for="Plan.UsuarioId" class="text-danger"></span>
            </div>


       

            <div class="form-group">
                <partial name="Acciones/_Create" />
            </div>
         
    </div>
        <!-- Implementación Imagen  -->
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plan.Foto" style="width: 100%;"></label>
            @if (Model.Plan.Foto != null)
            {
                    <img id="foto" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Plan.Foto))">
            }
            else
            {
                    <img id="foto" style="width:350px;height:350px; object-fit:cover" src="">
            }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Plan.Foto"
                       class="form-control"
                       onchange="document.getElementById('foto').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Plan.Foto" class="text-danger"></span>
            </div>
        </div>
       
</div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
