@model MVCCoachBuster.ViewModels.AgregarEditarPlanViewModel

@{
    ViewData["Title"] = Model.Plan.Id > 0 ? "Editando " + Model.Plan.Nombre : "Crear Plan";
}
<h4>@ViewData["Title"]</h4>
<hr />
<form asp-action="@(Model.Plan.Id > 0 ? "Edit" : "Create" )" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Plan.Id > 0)
            {
                <input type="hidden" asp-for="Plan.Id" />
            }
            <div class="form-group">
                <label asp-for="Plan.Nombre" class="control-label"></label>
                <input asp-for="Plan.Nombre" class="form-control" />
                <span asp-validation-for="Plan.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan.Descripcion" class="control-label"></label>
                <textarea asp-for="Plan.Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Plan.Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Plan.Precio" class="control-label"></label>
                <input asp-for="Plan.Precio" class="form-control text-end" />
                <span asp-validation-for="Plan.Precio" class="text-danger"></span>
            </div>

            <!--Seleccionar entrenador-->
            <div class="form-group mt-3">
                <label asp-for="Plan.UsuarioId" class="control-label"></label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">
                        <i class="fa-solid fa-users"></i>
                    </label>
                    <select asp-for="Plan.UsuarioId" class="form-select" asp-items="Model.ListadoEntrenadores">
                        <option value="">---Seleccionar Entrenador---</option>
                    </select>
                </div>
                <span asp-validation-for="Plan.UsuarioId" class="text-danger"></span>
            </div>

       
            <div class="form-group mt-3">
                @if (Model.Plan.Id > 0)
                {
                    <a onclick="window.history.back();" class="btn btn-secondary">
                        <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
                    </a>
                }
          
                <input type="hidden" name="siguiente" value="true" /> <!-- Campo oculto para indicar "Siguiente" -->
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i>&nbsp;Siguiente
                </button>


            </div>
         

        </div>

        <!-- Implementación Imagen -->
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plan.Foto" style="width: 100%;"></label>
                @if (Model.Plan.Foto != null)
                {
                    <img id="foto" class="img-fluid" src="/images/@(Model.Plan.Foto)">
                }
                else
                {
                    <img id="foto" class="img-fluid" src="">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Plan.Foto"
                       class="form-control"
                       onchange="document.getElementById('foto').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Plan.Foto" class="text-danger"></span>
            </div>
        </div>

    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
