@model MVCCoachBuster.Models.WodXEjercicio

@{
    ViewData["Title"] = "Editar ";
}

<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WodId" class="control-label"></label>
                <select asp-for="WodId" class="form-control" asp-items="ViewBag.WodId"></select>
                <span asp-validation-for="WodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoEjerciciosId" class="control-label"></label>
                <select asp-for="GrupoEjerciciosId" class="form-control" asp-items="ViewBag.GrupoEjerciciosId"></select>
                <span asp-validation-for="GrupoEjerciciosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="Acciones/_Edit" />
            </div>
        </form>
    </div>
</div>
