@model MVCCoachBuster.Models.Wod

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Wod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Día" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre">Nombre del Wod</label>
                <input asp-for="Nombre" class="form-control" />
            </div>

            <!-- Agregar selección de ejercicios -->
            <h4>Seleccione los Ejercicios</h4>
            <div class="form-group">
                <label asp-for="WodXEjercicio">Ejercicios</label>
                <select asp-for="WodXEjercicio" asp-items="ViewBag.EjercicioItems" class="form-control" multiple></select>
            </div>

            <!-- Otros campos del Wod si es necesario -->

            <button type="submit" class="btn btn-primary">Crear Wod con GrupoEjercicios</button>
        </form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

