@model MVCCoachBuster.Models.Dia

@{
    ViewData["Title"] = "Create";
}


<h4>Agregar Dia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Campo oculto para PlanId -->
            <input type="hidden" asp-for="PlanId" value="@ViewBag.PlanId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <div class="container">
        <h1>Calendario Dias</h1>
       
        <div class="row">
            @foreach (var dia in ViewBag.Dias)
            {
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">

                          
                       
                                   @dia.NumDias 
                        
                         

                        </h5>
                        <p class="card-text">
                            <a asp-action="Edit" asp-route-id="@dia.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@dia.Id">Delete</a>
                            <button class="btn btn-primary me-3" type="submit">
                                <i class="fa-solid fa-floppy-disk"></i>&nbsp;Añadir Wod
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            }
            <!-- Repite esto para los otros días de la semana -->
        </div>
       
    </div>

    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
