@model MVCCoachBuster.Models.Dia

@{
    ViewData["Title"] = "Detalles del Día";
}


<h3>@Model.NumDias</h3>

<div class="container">
    @foreach (var wod in Model.Wod)
    {
        <div class="card border-primary mb-4 ">
            <input class="form-check-input position-absolute top-0 end-0 m-3" type="checkbox" value="" aria-label="...">
            <div class="card-header">@wod.Nombre</div>
            <div class="card-body ">
           
                <ul>
                    @foreach (var wodXEjercicio in wod.WodXEjercicio)
                    {
                        <li>
                      
                            @wodXEjercicio.GrupoEjercicios.Nombre
                        </li>
                    }
                </ul>
            </div>
  
        </div>
    }
</div>

<a onclick="window.history.back();" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>
