@model IEnumerable<MVCCoachBuster.Models.Dia>

@{
    ViewData["Title"] = "Listado de días del plan: " ;
}

<h2>@ViewData["Title"] @Model.FirstOrDefault()?.Plan?.Nombre</h2>

<hr />

<br />

<br />

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="day-info">
                <a asp-controller="Dias" asp-action="Details" asp-route-id="@item.Id" class="day-link">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </a>
            </div>
            <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox">
                <label class="custom-control-label" for="check-@item.Id"></label>

            </div>
        </li>
    }
</ul>


