@model IEnumerable<MVCCoachBuster.Models.Dia>

@{
    ViewData["Title"] = "Index";
}


<h1>Días del Plan: @Model.FirstOrDefault()?.Plan?.Nombre</h1>



<ul class="list-group">
        @foreach (var item in Model)
        {

    <li class="list-group-item d-flex justify-content-between align-items-center">
            
            <a asp-controller="Dias" asp-action="Details" asp-route-id="@item.Id">

        @Html.DisplayFor(modelItem => item.NumDias)
            </a>
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    </li>
    }
</ul>
<a onclick="window.history.back();" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>